<div class="mb-2">
  <label for="large-input" class="block mb-2 text-xl font-medium text-accent-secondary dark:text-white">{{ title }}</label>
  <input
    [(ngModel)]="displayValue"
    (ngModelChange)="change($event)"
    [disabled]="disable"
    type="text"
    id="large-input"
    class="block w-full p-4 font-bold text-xl text-gray-900 border focus:border-2 border-accent-secondary rounded-lg bg-white text-base focus:ring-primary focus:border-primary dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary">
</div>
