  <div class="flex flex-col gap-15 md:pt-0 pt-26 max-h-full overflow-hidden dark:bg-deep-black">
    <h2 class="font-bold text-4xl dark:text-white md:ps-26 ps-8">{{ type === 'new' ? 'New Invoice' : 'Edit #' + invoice?.id }}</h2>
    <form [formGroup]="formInvoice" class="overflow-auto h-4/5 pe-10 md:ps-26 ps-8">
      <div class="flex flex-col gap-8">
        <div [formGroupName]="'billFrom'" #billFrom>
          <h4 class="font-bold text-primary text-2xl mb-6">Bill From</h4>
          <div class="mb-6">
            <form-input-text [title]="'Street Address'" [formControlName]="'street_address'"></form-input-text>
            <div *ngIf="(formInvoice.get('billFrom.street_address')?.errors && formInvoice.get('billFrom.street_address')?.dirty) && formInvoice.get('billFrom.street_address')?.errors?.['required']" class="text-red-600 fw-bold">
              It must be filled
            </div>
          </div>
          <div class="flex flex-row flex-wrap gap-4">
            <div class="flex-auto w-1/4 mb-6">
              <form-input-text [title]="'City'" [formControlName]="'city'"></form-input-text>
              <div *ngIf="formInvoice.get('billFrom.city')?.errors && formInvoice.get('billFrom.city')?.errors?.['character']" class="text-red-600 fw-bold mb-1">
                Character not allowed
              </div>
              <div *ngIf="(formInvoice.get('billFrom.city')?.errors && formInvoice.get('billFrom.city')?.dirty) && formInvoice.get('billFrom.city')?.errors?.['required']" class="text-red-600 fw-bold">
                It must be filled
              </div>
            </div>

            <div class="flex-auto w-1/4 mb-6">
              <form-input-text [title]="'Post Code'" [formControlName]="'post_code'"></form-input-text>
              <div *ngIf="formInvoice.get('billFrom.post_code')?.errors && formInvoice.get('billFrom.post_code')?.errors?.['character']" class="text-red-600 fw-bold mb-1">
                Character not allowed
              </div>
              <div *ngIf="(formInvoice.get('billFrom.post_code')?.errors && formInvoice.get('billFrom.post_code')?.dirty) && formInvoice.get('billFrom.post_code')?.errors?.['required']" class="text-red-600 fw-bold">
                It must be filled
              </div>
            </div>

            <div class="flex-auto w-1/4 mb-6">
              <form-input-text [title]="'Country'" [formControlName]="'country'"></form-input-text>
              <div *ngIf="formInvoice.get('billFrom.country')?.errors && formInvoice.get('billFrom.country')?.errors?.['character']" class="text-red-600 fw-bold mb-1">
                Character not allowed
              </div>
              <div *ngIf="(formInvoice.get('billFrom.country')?.errors && formInvoice.get('billFrom.country')?.dirty) && formInvoice.get('billFrom.country')?.errors?.['required']" class="text-red-600 fw-bold">
                It must be filled
              </div>
            </div>
          </div>
        </div>

        <div [formGroupName]="'billTo'" #billTo>
          <h4 class="font-bold text-primary text-2xl mb-6">Bill To</h4>
          <div class="mb-6">
            <form-input-text title="Client's Name" [formControlName]="'clients_name'"></form-input-text>

            <div *ngIf="formInvoice.get('billTo.clients_name')?.errors && formInvoice.get('billTo.clients_name')?.errors?.['string']" class="text-red-600 fw-bold">
              Character and Number not allowed
            </div>

            <div *ngIf="(formInvoice.get('billTo.clients_name')?.errors && formInvoice.get('billTo.clients_name')?.dirty) && formInvoice.get('billTo.clients_name')?.errors?.['required']" class="text-red-600 fw-bold">
              It must be filled
            </div>
          </div>

          <div class="mb-6">
            <form-input-text title="Client's Email" [formControlName]="'clients_email'"></form-input-text>
            <div *ngIf="formInvoice.get('billTo.clients_email')?.errors && formInvoice.get('billTo.clients_email')?.errors?.['email']" class="text-red-600 fw-bold">
              Email invalid
            </div>

            <div *ngIf="(formInvoice.get('billTo.clients_email')?.errors && formInvoice.get('billTo.clients_email')?.dirty) && formInvoice.get('billTo.clients_email')?.errors?.['required']" class="text-red-600 fw-bold">
              It must be filled
            </div>

          </div>

          <div class="mb-6">
            <form-input-text [title]="'Street Address'" [formControlName]="'street_address'"></form-input-text>
            <div *ngIf="(formInvoice.get('billTo.street_address')?.errors && formInvoice.get('billTo.street_address')?.dirty) && formInvoice.get('billTo.street_address')?.errors?.['required']" class="text-red-600 fw-bold">
              It must be filled
            </div>
          </div>
          <div class="flex flex-row flex-wrap gap-4 items-center">
              <div class="flex-auto w-1/4  mb-6">
                <form-input-text [title]="'City'" [formControlName]="'city'"></form-input-text>
                <div *ngIf="formInvoice.get('billTo.city')?.errors && formInvoice.get('billTo.city')?.errors?.['character']" class="text-red-600 fw-bold">
                  Character not allowed
                </div>

                <div *ngIf="(formInvoice.get('billTo.city')?.errors && formInvoice.get('billTo.city')?.dirty) && formInvoice.get('billTo.city')?.errors?.['required']" class="text-red-600 fw-bold">
                  It must be filled
                </div>
              </div>

              <div class="flex-auto w-1/4  mb-6">
                <form-input-text [title]="'Post Code'" [formControlName]="'post_code'"></form-input-text>
                <div *ngIf="formInvoice.get('billTo.post_code')?.errors && formInvoice.get('billTo.post_code')?.errors?.['character']" class="text-red-600 fw-bold">
                  Character not allowed
                </div>

                <div *ngIf="(formInvoice.get('billTo.post_code')?.errors && formInvoice.get('billTo.post_code')?.dirty) && formInvoice.get('billTo.post_code')?.errors?.['required']" class="text-red-600 fw-bold">
                  It must be filled
                </div>
              </div>

              <div class="flex-auto w-1/4  mb-6">
                <form-input-text [title]="'Country'" [formControlName]="'country'"></form-input-text>
                <div *ngIf="formInvoice.get('billTo.country')?.errors && formInvoice.get('billTo.country')?.errors?.['character']" class="text-red-600 fw-bold">
                  Character not allowed
                </div>

                <div *ngIf="(formInvoice.get('billTo.country')?.errors && formInvoice.get('billTo.country')?.dirty) && formInvoice.get('billTo.country')?.errors?.['required']" class="text-red-600 fw-bold">
                  It must be filled
                </div>
              </div>
          </div>

          <div class="flex flex-row flex-wrap items-center gap-4">
            <div class="flex-auto w-1/3  mb-6">
              <form-datepicker [title]="'Invoice Date'" [formControlName]="'invoice_date'"></form-datepicker>
            </div>

            <div class="flex-auto w-1/3  mb-6">
<!--              <form-input-text [title]="''" [formControlName]="'payment_terms'"></form-input-text>-->
              <form-select [title]="'Payment Terms'" [formControlName]="'payment_terms'" [items]="paymentTerm" [itemName]="'name'" [itemValue]="'num'"></form-select>
            </div>
          </div>

          <form-input-text [title]="'Project Description'" [formControlName]="'project_description'"></form-input-text>

        </div>

        <div [formArrayName]="'items'">
          <h4 class="text-accent-gray text-3xl mb-6 font-bold">Item List</h4>

          <div class="w-full mb-6">
            @if (layout !== 'phone') {
              <table class="w-full">
                <thead>
                  <tr>
                    <th class="text-accent-secondary text-xl font-normal w-auto text-left">Item Name</th>
                    <th class="text-accent-secondary text-xl font-normal w-20 text-left">Qty</th>
                    <th class="text-accent-secondary text-xl font-normal w-1/5 text-left">Price</th>
                    <th class="text-accent-secondary text-xl font-normal w-1/5 text-left">Total</th>
                    <th class="w-16"></th>
                  </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let itemArray of formArray.controls; let i = index" [formGroupName]="i">
                      <td class="pe-4">
                        <form-input-text [formControlName]="'name'"></form-input-text>
                      </td>
                      <td class="pe-4">
                        <form-input-text [formControlName]="'quantity'"></form-input-text>
                      </td>
                      <td class="pe-4">
                        <form-currency [formControlName]="'price'"></form-currency>
                      </td>
                      <td>
                        <form-currency [formControlName]="'total'"></form-currency>
                      </td>
                      <td class="text-right">
                        <button (click)="deleteItem(i)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                </tbody>
              </table>
            }

            @if (layout === 'phone') {
              <div *ngFor="let itemArray of formArray.controls; let i = index" [formGroupName]="i">
                <div class="flex flex-col gap-4 w-full mb-12">
                  <div class="flex flex-col flex-wrap flex-auto w-full min-w-full max-w-full">
                    <h6 class="font-light text-accent-gray">Item Name</h6>
                    <form-input-text [formControlName]="'name'"></form-input-text>
                  </div>

                  <table class="w-full">
                    <thead>
                      <tr>
                        <th class="text-accent-secondary text-xl font-normal w-20 text-left">Qty.</th>
                        <th class="text-accent-secondary text-xl font-normal w-1/5 text-left">Price</th>
                        <th class="text-accent-secondary text-xl font-normal w-1/5 text-left">Total</th>
                        <th class="w-16"></th>
                      </tr>
                    </thead>

                    <tbody>
                        <tr>
                          <td class="pe-4 w-1/4">
                            <form-input-text [formControlName]="'quantity'"></form-input-text>
                          </td>
                          <td class="pe-4 w-1/3">
                            <form-currency [formControlName]="'price'"></form-currency>
                          </td>
                          <td class="w-1/3">
                            <div class="text-2xl font-bold text-accent-gray py-6">{{ itemArray.get('total')?.value | currency:'GBP' }}</div>
                          </td>
                          <td class="text-right w-1/4">
                            <button (click)="deleteItem(i)">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </td>
                        </tr>
                    </tbody>
                  </table>

                  <!-- <div class="flex flex-row gap-4 items-center">
                    <div class="w-1/4">
                      <h6 class="font-light text-accent-gray">Qty.</h6>
                      <form-input-text [formControlName]="'qty'"></form-input-text>
                    </div>
                    <div class="w-1/2">
                      <h6 class="font-light text-accent-gray">Price</h6>
                      <form-currency [formControlName]="'price'"></form-currency>
                    </div>
                    <div class="w-1/4">
                      <h6 class="font-light text-accent-gray">Total</h6>
                      <div class="text-2xl font-bold text-accent-gray py-6">{{ itemArray.get('total')?.value | currency:'GBP' }}</div>
                    </div>
                    <div class="w-1/4 text-end py-6">
                      <button (click)="deleteItem(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div> -->
                </div>
              </div>
            }
          </div>

          <button class="bg-accent-white dark:bg-primary-black text-accent-gray dark:text-white font-bold rounded-full text-2xl text-center justify-center flex items-center w-full py-4" (click)="addArray()">
            <mat-icon class="me-2">add</mat-icon>
            <span>Add New Item</span>
          </button>
        </div>
      </div>
    </form>
    @if (type === 'edit') {
      <div class="flex flex-row gap-4 justify-end w-full" [class]="layout !== 'desktop' ? 'bg-white p-10 drop-shadow-2xl h-36' : 'h-18 pe-20 ps-26'">
        <button class="bg-accent-white text-accent-gray dark:bg-primary-black dark:text-white font-bold rounded-full text-2xl text-center justify-center flex items-center w-1/4" (click)="onBack()">
          {{ 'Cancel' }}
        </button>

        <button class="bg-error-light text-white dark:text-white font-bold rounded-full text-2xl text-center justify-center flex items-center w-1/2" (click)="onSave()">
          {{ 'Save Changes' }}
        </button>
      </div>
    }

    @if(type === 'new') {
      <div class="flex flex-row gap-4 w-full" [class]="layout !== 'desktop' ? 'bg-white p-10 drop-shadow-2xl h-36 justify-center' : 'h-18 pe-10 pb-4 ps-26 justify-between'">
        <button class="bg-accent-white text-accent-gray dark:bg-primary-black dark:text-white font-bold rounded-full text-xl text-center justify-center flex items-center" [class]="layout !== 'desktop' ? 'w-1/3' : 'w-1/4'" (click)="onBack()">
          Discard
        </button>

        <div class="flex flex-row gap-2 justify-end" [class]="layout !== 'desktop' ? 'w-full' : 'w-80'">
          <button class="bg-accent-black text-accent-secondary dark:text-white font-bold rounded-full text-xl text-center justify-center flex items-center w-full" (click)="onSave('draft')">
            {{ 'Save as Draft' }}
          </button>

          <button class="bg-error-light text-white dark:text-white font-bold rounded-full text-xl text-center justify-center flex items-center w-full" (click)="onSave('pending')">
            {{ 'Save and Send' }}
          </button>
        </div>
      </div>
    }
  </div>
