/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { height: 100%; }
body { margin: 0;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
  position: relative;
  scroll-margin: 0 -30px 0 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9277FF;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9277FF;
}
